body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body::before {
    content: "";
    background-image: url("../../photos/background-image1.jpg");
    background-size: cover;
    height: 100%;
    background-position: center;
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    z-index: 999;
}

header button {
    border-radius: 0.5em;
    border: none;
    height: 3em;
    width: 8em;
    font-size: 1.1em;
    color: rgb(230, 58, 143);
    font-weight: bold;
}

#banner {
    width: 20em;
    height: auto;
}

h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    opacity: 0.95;
    width: 40%;
    padding: 2em;
    border-radius: 1em;
    margin: 2em auto;
    height: 100%;
}

#login-form p {
    font-size: 2.5em;
    color: rgb(230, 58, 143);
    margin-bottom: 1em;
    margin-top: 1.8em;
}

#container {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    width: 100%;
}

label {
    color: grey;
    margin-bottom: 0.5em;
}

input[type="text"],
input[type="url"],
textarea {
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 0.5em;
    border: 1px solid lightgray;
    margin-bottom: 1em;
}

#submit {
    border-radius: 0.5em;
    border: none;
    height: 2em;
    width: 7em;
    font-size: 1.1em;
    color: rgb(230, 58, 143);
    font-weight: bold;
    background-color: #E5E4E2;
    cursor: pointer;
    margin-bottom: 1em;
    margin-top: 2em;
}

#submit:hover {
    background-color: thistle;
}

a {
    text-decoration: none;
    color: rgb(230, 58, 143);
}

button:hover {
    background-color: thistle;
}